@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body {
  display:flex;
  justify-content: center;
  padding: 3em 1em;
}
.App {
  text-align: left;
  max-width: 800px;
  width: calc(100vw - 40px);
}
.hn-header {
  background-color: dodgerblue;
  
  padding: 1em;
}
.hn-header h3 {
  color:white;
}
.searchform {
  display: flex;
  width: 100%;
  padding: 1em;
}
.searchresults {
  background-color: #eeeef1;
  padding: 1em;
}
article {
  padding: 0.5em 0;
}
article a {
  color:dodgerblue;
  text-decoration: none;
}
li {
  list-style: none;
}
.loader {
  text-align: center;
}
h4 {font-family: 'Roboto Mono', monospace;}
.page.current {
  background:green;
}